
hands_on_machine_learning_with_sklearn_tensorflow_and_keras/.DS_Store
hands_on_machine_learning_with_sklearn_tensorflow_and_keras/datasets/.DS_Store
hands_on_machine_learning_with_sklearn_tensorflow_and_keras/datasets/chapter_2/housing.csv
data_mining_with_python/datasets/.DS_Store
data_mining_with_python/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
